<div class="container" id = "about">
  <div class="row">
    <div class="col-md-12 offset-md-4 mt-4">
        <h1 class="heading">About Me</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 offset-md-4">
      <h3 class= "content">
        Hi, I am Sakshi Tiwari. A learner budding developer  who loves to explore new technologies.<br><br>
        A technology savvy professional with capacity to analyze, solve problems and multi-task.
       I believe  <strong>Perseverance Patience and Persistense </strong> are the keys to be a fine developer.
       Looking for opportunities to leverage my technical skills.
       <br><br>

          </h3>
        <div class="quote">
          <!-- <q class="quote">
            If the code and the comments do not match, possibly both are incorrect. Just saying ;)
          </q> -->
          <img class ="image" src="../../../assets/images/code.jpg" alt="about">
          </div>
            
    </div>
  </div>
</div>