<div class="container" id = "experience">
  <div class="row">
    <div class="col-md-12 offset-md-2 mt-4">
        <h1>Experience</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12 offset-md-2">
        <h3 class= "content">
          <ul>
            <li>
              <img src="../../../assets/images/zensar.jpg">
            </li>
            <li>
            <h2>Software Engineer at Zensar Technologies</h2>
            <h2 class="muted"> September 2019</h2>
            <hr>
            </li>
            <li>
            <h2>Project Trainee at Zensar Technologies</h2>
            <h2 class="muted"> June 2019</h2>
            </li>
          </ul>  
        </h3>
      </div>
    </div>
 </div>
