<div class="container" id="skills">
  <div class="row">
    <div class="col-md-12 offset-md-4 mt-4">
        <h1>General Skills </h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-12 offset-md-1">
      <div class= "content">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
  </div>
    </div>
</div>
</div>

 