<div class="container" id="projects">
  <div class="row">
    <div class="col-md-12 offset-md-1 mt-4">
<h1>Projects</h1>
<hr>
</div>
    <div class="row">
  <div class="col offset-md-3"> 
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title>JSON Comparator Tool</mat-card-title>
      <mat-card-subtitle>JAVA  </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/json.jpg" alt="Json Comparator">
    <mat-card-content>
      <p>
        An automation tool to compare incoming B2B and Configuration  JSON response of a product using JAVA libraries.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="bg-primay center bold" mat-button><a href="https://github.com/SakshiTiwari28" target="_blank">View Project</a></button>
    </mat-card-actions>
  </mat-card></div>
  
  <div class="col">
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title>BookStore</mat-card-title>
      <mat-card-subtitle>MongoDB | React | Express | NodeJS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/bookstore.PNG" alt="book store">
    <mat-card-content>
      <p>
        Book Store is an e-commerce website for selling books with integrated Paypal payment gateway where user can buy variety of books 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="bg-primay center bold" mat-button><a href="https://github.com/SakshiTiwari28/BookStore-FrontEnds" target="_blank">View Project</a></button> 
    </mat-card-actions>
  </mat-card>
</div>
  <div class="col">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Portfolio</mat-card-title>
        <mat-card-subtitle>Angular</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/portfolioo.PNG" alt="Github">
      <mat-card-content>
        <p>
          Portfolio
         
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button class="bg-primay center bold" mat-button><a href="https://github.com/SakshiTiwari28" target="_blank">View Project</a></button> 
      </mat-card-actions>
    </mat-card>
  </div>
  </div>

</div>
        <!-- <div class="col-md-3 offset-md-1 ">
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title>JSON Comparator Tool</mat-card-title>
      <mat-card-subtitle>JAVA  </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/json.jpg" alt="Json Comparator">
    <mat-card-content>
      <p>
        An automation tool to compare incoming B2B and Configuration  JSON response of a product using JAVA libraries.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="bg-primay center bold" mat-button><a href="www.google.com" target="_blank">View Project</a></button>
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="col-md-3 ">
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title>BookStore</mat-card-title>
      <mat-card-subtitle>MongoDB | React | Express | NodeJS</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/bookstore.PNG" alt="book store">
    <mat-card-content>
      <p>
        Book Store is an e-commerce website for selling books with integrated Paypal payment gateway where user can buy variety of books 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="bg-primay center bold" mat-button><a href="www.google.com" target="_blank">View Project</a></button> 
    </mat-card-actions>
  </mat-card>
  </div>
  <div class="col-md-3 ">
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Portfolio</mat-card-title>
      <mat-card-subtitle>Angular</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/images/portfolioo.PNG" alt="Github">
    <mat-card-content>
      <p>
        Portfolio
       
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button class="bg-primay center bold" mat-button><a href="www.google.com" target="_blank">View Project</a></button> 
    </mat-card-actions>
  </mat-card>
  </div>
  </div>
  </div> -->
