
   <div class="container" id="education">
    <div class="row">
      <div class="col-md-12 offset-md-1 mt-4">
          <h1>Education</h1>
          <hr>
          <br>
          <br>  
      </div>

 <div class="row">
   <div class="col-md-12 offset-md-1">
  <div class="card">
    <div class="card-header" style="height: 100px;">
      <h2>Masters of Computer Application</h2>
      <h3>2017-2019</h3>
     
    </div>
    <div class="card-body">
      <h5 class="card-title">Acropolis Institute of Technology and Research</h5>
      <p class="card-text">Masters in Computer Application from Acropolis Institute of Technology and Research, Indore affiliated to RGTU (2017-2019)  with aggregate 8.43 CGPA.</p>
     </div> 
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 offset-md-1">
   <div class="card">
     <div class="card-header" style="height: 100px;">
       <h2>Batchelor of Computer Science</h2>
       <h3>2014-2017</h3>
      
     </div>
     <div class="card-body">
       <h5 class="card-title">Devi Ahilya Vishwa Vidhyalaya</h5>
       <p class="card-text">Bachelor of Science with specialization in Computer Science from DAVV with an aggregate of 70.5%.</p>
      </div> 
   </div>
   </div>
   </div>
  <div class="row">
    <div class="col-md-12 offset-md-1">
  <div class="card">
    <div class="card-header" style="height: 100px;" >
      <ul>
      <li><h2>Senior Secondary</h2></li>
      <li><h3>2013-2014</h3></li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sanmati Higher Secondary School</h5>
      <p class="card-text">Senior Secondary School Certificate (10+2) from Central Board of Secondary Education with 80% in the year 2014.</p>
     </div> 
     </div>
     </div>
  </div>
  </div> 
</div>
 
